@font-face { 
  font-family: myfont; 
  src: url('./assets/fonts/static/HankenGrotesk-Medium.ttf'); 
} 

body {
  margin: 0;
  font-family: myfont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color: rgb(40, 9, 2+19);
}
